/*
 * Element Border
 * Default is 'Solid' and with defined brand color
 */
@mixin element-border($direction: all, $width: 1px, $style: solid, $color: $brandColor) {
  @if ($direction == all) {
    border: $width $style $color;
  } @else {
    border-#{$direction}: $width $style $color;
  }
}

/*
 *  Element Border Radius
 *  Default is all four corners and border radius is 6px
 */
@mixin element-border-radius($tl: 6px, $tr: 6px, $br: 6px, $bl: 6px) {
  border-top-left-radius: $tl;
  border-top-right-radius: $tr;
  border-bottom-right-radius: $br;
  border-bottom-left-radius: $bl;
}

/*
 *  Element Border Bottom Styling
 */
@mixin element-border-bottom() {
  content: '';
  display: flex;
  width: 100%;
  margin-bottom: $pageGuitter;

  @include element-border(bottom, 1px, solid, $subHeadingColor);
}

/*
 *  Display expandable section with three dots.
 */
@mixin expandable-dot() {
  display: flex;
  content: '...';
  position: absolute;
  top: -1rem;
  left: -$pageGuitter * 2;
  color: $subHeadingColor;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: bolder;
}