.btn {
  padding: 0.45rem 1.5rem;
  background-color: $brandColor;
  color: white;
  text-decoration: none;

  @include element-border();
  @include element-border-radius();
}

.btn--secondary {
  padding: 0.45rem 2rem;
  background-color: white;
  color: $brandSecondaryColor;

  @include element-border(all, 1px, solid, darken($brandSecondaryColor, 20%));
}

.btn--mobmenu {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
}