.task-body {
  display: flex;
  flex-flow: row nowrap;
  //justify-content: space-between;
  //align-items: center;

  .task-body-wrapper {
    display: inline-flex;
    flex-flow: row wrap;
    width: 100%;
  }

  .heading {
    line-height: 1.5rem;
    color: black;
  }

  .description {
    display: inline-flex;
    flex-flow: column wrap;

    p {
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
  }

  .message {
    color: $subHeadingColor;
  }

  .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 2.5rem;
    color: $subHeadingColor;
    background-color: lighten($subHeadingColor, 20%);
    margin: 0 $pageGuitter * 0.75 $pageGuitter / 2 0;
    @include element-border-radius();
  }

  .label {
    position: relative;

    &:after {
      @include expandable-dot();
      display: none;
      top: -0.5rem;
      left: $pageGuitter * 3;
    }

    @include ipad-and-above {
      &:after {
        display: flex;
      }
    }

  }

  .more {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin-right: ($pageGuitter * 2.25);
  }

  @include ipad-and-above {
    .icon {
      width: 3rem;
      height: 3rem;
      margin: 0 $pageGuitter * 1.25 0 $pageGuitter;
    }

    .task-body-wrapper {
      justify-content: space-between;
    }

  }

}

.task-section-wrapper {
  padding-top: $pageGuitter;
  padding-bottom: $pageGuitter;
  border-bottom: 1px solid $subHeadingColor;

  &:first-of-type {
    padding-top: 0;
  }
}
